{{>layouts/header}}

<!-- jumbotron -->
<div class="jumbotron">
    <h1>Article 상세보기</h1>
    <hr>
    <p>공부 소스를 공유하는 사이트입니다!</p><!-- 모델 객체 가져오기 -->
</div>
{{#article}}
<table class="table">
    <tbody>

            <tr>
                <th>{{id}}</th>
                <td>{{title}}</td>
            </tr>
            <tr>
                <th>작성</th>
                <td>{{createdAt}} , {{writer}}</td>
            </tr>
            <tr>
                <th>내용</th>
                <td>{{{content}}}</td>
            </tr>

    </tbody>
</table>
<a href="/board" class="btn btn-success btn-block">목록으로</a>
<a href="/board/modify/{{id}}" class="btn btn-success btn-block">수정</a>
<a href="/board/delete/{{id}}" class="btn btn-success btn-block">삭제</a>
{{/article}}
{{>layouts/footer}}