{{>layouts/header}}
<!-- jumbotron -->
<div class="jumbotron">
    <h1>Article 목록</h1>
    <hr>
    <p>board/index.mustache</p>
    <p>공부 소스를 공유하는 사이트입니다!</p><!-- 모델 객체 가져오기 -->
</div>

{{>layouts/footer}}