{{>layouts/header}}
<!-- jumbotron -->
<div class="jumbotron">
    <h1>Article 목록</h1>
    <hr>
    <p>공부 소스를 공유하는 사이트입니다!</p><!-- 모델 객체 가져오기 -->
</div>

<!--article list-->
<table class="table">
    <thead class="thead-light">
        <tr>
            <th scope="col">#</th>
            <th scope="col">제목</th>
            <th scope="col">작성자</th>
            <th scope="col">작성시간</th>
        </tr>
    </thead>
    <tbody>
    {{#articleInfoResponseList}}
        <tr>
            <th scope="row">{{id}}</th>
            <td><a href="articles/{{id}}">{{title}}</a></td>
            <td>{{writer}}</td>
            <td>{{createdAt}}</td>
        </tr>
    {{/articleInfoResponseList}}
    </tbody>
</table>

<!-- 페이지 번호 -->
<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        <li class="paginate_button previous" id="previousBtn">
            <a class="page-link" href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
            </a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>

<!--        <li class="paginate_button" v-for="btn in btnList" v-bind:btn_id="btn" v-on:click="indexClick(btn)">-->
<!--            <a href="javascript:;" aria-controls="example2"></a>-->
<!--        </li>-->

        <li class="paginate_button next" id="nextBtn">
            <a class="page-link" href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
            </a>
        </li>
    </ul>
</nav>

{{>layouts/footer}}