{{>layouts/header}}
<div class="jumbotron">
    <h1>게시글 등록</h1>
    <hr>
    <p>다같이 열심히 공부하자!</p>
</div>
<form class="container" method = "post" action="/board/new/post">
    <div class="form-group">
        <label for="title">제목</label>
        <input name="title" type="text" class="form-control" id="article-title" placeholder="제목을 입력하세요">
    </div>
    <div class="form-group">
        <label for="content">내용</label>
        <textarea name="content" class="form-control" id="article-content" placeholder="내용을 입력하세요" rows="6"></textarea>
    </div>
    <div class="form-group">
        <label for="writer">아이디</label>
        <input name="writer" type="text" class="form-control" id="article-writer" placeholder="아이디를 입력하세요">
    </div>
    <div class="form-group">
        <label for="password">비밀번호</label>
        <input name="password" type="text" class="form-control" id="article-password" placeholder="비밀번호를 입력하세요">
    </div>
    <button type="submit" class="btn btn-primary">제출</button>
</form>
{{>layouts/footer}}