{{>layouts/header}}
<div class="jumbotron">
    <h1>게시글 수정</h1>
    <hr>
    <p>다같이 열심히 공부하자!</p>
</div>
비밀번호가 틀렸습니다
<a href="board/articles/{{id}}" class="btn btn-success btn-block">게시글로 돌아가기</a>
{{>layouts/footer}}